@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Entity Framework Core project made in ASP.NET Core MVC.</p>
    <p>Here you can keep track of your Music collection. Add artist and Albums using the navigation.</p>
    <p>You can also keep track of wich of your friends have what album on loan, and demand candy as a late fee when they forget to return them. Use the Loans and Friends tabs for this.</p>
</div>
